---
import '@v1/styles/page-about.css';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const legal = await getCollection('legal');

  return legal.map((entry) => {
    return {
      params: {
        slug: entry.id,
      },
      props: { entry, legal },
    };
  });
}

const page = Astro.props.entry;

// SEO
const fm = page.data;
const meta = fm.meta || {};
const { Content } = await render(page);
const title = fm.title ? fm.title : 'Datum - Privacy Policy';
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="roadmap-page" meta={meta}>
  <section class="datum-container">
    <Hero
      class="light hero--small-pad"
      iconName={fm.iconName}
      title={title}
      subtitle={fm.subtitle}
    />

    <div class="section--block bg-glacier-mist-800 py-12 lg:py-16">
      <div class="max-width max-w-5xl">
        <article class="prose max-w-none milo-text-lg">
          <Content />
        </article>
      </div>
    </div>

    <Footer />
  </section>
</Layout>
