---
import '@v1/styles/page-about.css';

import { render } from 'astro:content';
import { getCollectionEntry } from '@utils/collectionUtils';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import ImageHero from '@content/pages/images/milo-on-the-rock.png';

const page = await getCollectionEntry('pages', 'about');

const { Content } = await render(page);

// SEO
const fm = page.data;
const meta = fm.meta || {};
const title = fm.title;
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="about-page" meta={meta}>
  <section class="datum-container">
    <Hero
      class="dark hero--pad"
      title={title}
      description={description}
      subtitle={fm.subtitle}
      imageHero={ImageHero}
    />

    <Content />

    <Footer />
  </section>
</Layout>
