---
import { marked } from 'marked';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/home/Hero.astro';
import Footer from '@components/Footer.astro';

import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('pages', '/');
const fm = page.data;

interface Feature {
  group: string;
  items: Array<{
    title: string;
    description: string;
    icon?: string;
  }>;
}

const features: Feature[] = fm.features;

// SEO
const meta = fm.meta || {};
const title = fm.title;
const description = fm.description;
const subtitle = fm.subtitle;
const body = page.body;
---

<Layout title={title} description={description} bodyClass="home-page" meta={meta}>
  <section class="datum-container">
    <Hero iconName="datum" title={title} description={description} subtitle={subtitle} />
    <div class="section--block section--block--pad bg-navy dark">
      <p class="hero--main-content-description text-white" set:html={body} />

      {
        features && features.length > 0 && (
          <div class="mt-10 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {features.map((feature) => (
              <div class="feature--group">
                <h3 class="feature--group-title">{feature.group}</h3>
                <ul class="mt-4 space-y-4">
                  {feature.items.map((item) => (
                    <li class="feature--item flex">
                      <div>
                        <h4 class="feature--item-title">{item.title}</h4>
                        <p
                          class="feature--item-description mt-1 text-sm text-white"
                          set:html={item.description}
                        />
                      </div>
                    </li>
                  ))}
                </ul>
              </div>
            ))}
          </div>
        )
      }
    </div>
    <Footer />
  </section>
</Layout>
