---
import { Image } from 'astro:assets';
import { getCollectionEntry } from '@utils/collectionUtils';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import Card from '@components/roadmap/Card.astro';
import Skeleton from '@components/Skeleton.astro';

const page = await getCollectionEntry('pages', 'roadmap');

// SEO
const fm = page.data;
const meta = fm.meta || {};
const title = fm.title;
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="roadmap-page" meta={meta}>
  <section class="datum-container">
    <Hero
      class="dark"
      iconName={fm.iconName}
      title={title}
      description={page.body}
      subtitle={fm.subtitle}
    />

    <div class="section--block section--block--pad bg-navy dark">
      <div class="roadmap-container">
        <Card server:defer>
          <Skeleton slot="fallback" />
        </Card>
      </div>
    </div>

    <Footer />
  </section>
</Layout>
