---
import '@v1/styles/page-roadmap.css';

import { Image } from 'astro:assets';
import { getCollectionEntry } from '@utils/collectionUtils';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import Card from '@components/roadmap/Card.astro';
import Skeleton from '@components/Skeleton.astro';
import Button from '@components/Button.astro';

const page = await getCollectionEntry('pages', 'roadmap');

// SEO
const fm = page.data;
const meta = fm.meta || {};
const title = fm.title;
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="roadmap-page" meta={meta}>
  <section class="datum-container">
    <Hero
      class="dark"
      iconName={fm.iconName}
      title={title}
      description={page.body}
      subtitle={fm.subtitle}
    />

    <!-- Roadmap Section -->
    <div id="roadmap" class="section--block pt-12 lg:pt-16">
      <div class="section--block-inner max-w-306">
        <div class="display-card bg-glacier-mist-700 text-midnight-fjord">
          <div class="display-card--content">
            <ul class="display-card--list">
              <Card server:defer>
                <Skeleton slot="fallback" />
              </Card>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <Footer />
  </section>
</Layout>
