---
import { Image } from 'astro:assets';
import { marked } from 'marked';

import Nav from '@components/Nav.astro';
import Icon from '@components/Icon.astro';
import type { HeroProps } from '@/src/types/common';

const {
  iconName = '',
  title = '',
  subtitle = '',
  description = '',
  class: className,
  classTitle: classTitle,
  classIcon: classIcon,
  imageHero,
  hideContent = false,
} = Astro.props as HeroProps;
---

<section class:list={['hero--main', className]}>
  <Nav />
  {
    !hideContent && (
      <div
        class="hero--main-content fade-in--pure"
        data-reveal="fade-in--pure--visible"
        data-reveal-immediate="true"
        data-reveal-delay="100"
      >
        {/* Hero Main Content */}
        <div class="hero--main-content-inner">
          {(iconName && iconName !== '') || (subtitle && subtitle !== '') ? (
            <div class="hero--main-content-icon">
              {iconName && iconName !== '' && (
                <div class:list={['text-balance', classIcon || 'hero--main-content-icon-inner']}>
                  <Icon name={iconName} size="md" />
                </div>
              )}
              {subtitle && subtitle !== '' && <span>{subtitle}</span>}
            </div>
          ) : null}

          <h1 class:list={[classTitle || 'hero--main-content-title']} set:html={title} />
          {description && (
            <p class="hero--main-content-description" set:html={marked.parseInline(description)} />
          )}
        </div>
        {imageHero && (
          <div class="hero--main-content-image">
            <Image
              src={imageHero}
              alt={title}
              data-scroll-effect="parallax"
              data-scroll-speed="0.1"
              data-scroll-direction="down"
              data-viewport-offset="0"
              data-max-movement="50"
            />
          </div>
        )}

        <slot name="illustration" />
      </div>
    )
  }
</section>
